dist: trusty
script:
- make docker-build
- make prebuild
- make docker-ci
deploy:
  provider: releases
  file_glob: true
  file: bin/*
  skip_cleanup: true
  on:
    tags: true
  api_key:
    secure: lDZ1luyB+iTt/pokh5SkBppB05ZaXDyugUz7ZRMJZWnlXNpwSTnOOjAaWdEg2gkPPcWARxpN1gOLXGQmGEL0mS5ti7MTvC1G5L2ZA4nYbBbzWOyA/rIFVDtNDzDpgS7Gk2mqq5GC9kzNwhLxthp3phK40ihF0MHXw6sjikA9KpFgeF4aGFeKSr5kWh3OT9KXb38wZYfYo82rpVSKNRHyjhZEcBMiRKWPNg9AGe460Ft0eBCIcRfjGkdHquCdQz1jYKtnaL2VoTsk7tDhX7eZyB5yE+9298fun053k/GhC7d9+2dOvRgwo8BdnMZPncUGrtIqRSbh3Qo5eYtqN1m+Ynxac/sh0hjVFzr5//TZsCbnqYZnJ/5Nikjzk8poQ1pXZX8a7b3zqNO1MPWKx8nRk3rx24ZGhsueikFSBCFkWybs8ucpklb58ARe5uE8O571ddHgLsZ2g1bGHu62mENUtHJYQZdH1yyG0YuOOe85e4qbgDgwgU5tVO2DR9bPk6g7BPY9VYFLfAaE0qIup5tt1OOGDN2x3TGBI8LCE8L8zOo8yKo7FZpAY8MaYmnfE/V1afgiOzMScIZSUh6Qdx4dnCCcjAp6NOxSDBaWq0kKhAPPEfPzBomIVkAV7hIyW/OgzKXjnsF03mTD0OTb1g2ZpcTBAuil05r/Wa05MO63TYw=
cache:
  directories:
  - "$HOME/.android/"
  - "$HOME/.buildozer/"
